.button {
    display: inline-block;
    border-radius: 3px;
    font-size: 16px;
    text-decoration: none;
    padding: 15px 30px;
    text-shadow: 2px 1px 1px rgba(0, 0, 0, 0.15);
    font-weight: bold;
}

.button-green {
background: #8aba56;
color: #fff;
}

.button-green:hover {
    background: #6a9a56;
    transition: all ease .3s;
}

.button-blue {
    background: #59a3fc;
    color: #fff;
}

.button-gray {
    background: #aaa;
    color: #fff;
}
