.team {
    padding: 40px 0;
    background: #eee;
}

.team-members {
    padding-top: 40px;
}

.member-image {
    display: inline-block;
    float: left;
    width: 160px;
}

.member-photo {
    border: 5px solid #fff;
    border-radius: 100%;
    height: auto;
}

.member-details {
    display: inline-block;
    max-width: 270px;
    margin-left: 20px;
}

.member-details .text-small {
    display: block;
    color: #ff2a68;
}

.member-details .text-small:hover {
    cursor: pointer;
}

.member-details .team-medium {
    margin-bottom: 20px;
}

.member-social {
    background: #fff;
    border-radius: 3px;
    display: inline-block;
    padding: 8px 20px 5px;
}
