body {
    font-family: "Trebuchet MS", sans-serif;
    color: #444;
    font-size: 14px;
}

.title-large {
    font-size: 48px;
    margin-bottom: 18px;
}

.title-medium {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 12px;
}

.title-small {
    font-size: 20px;
    margin-bottom: 6px;
}

.text-lead {
    font-size: 16px;
    font-weight: normal;
    line-height: 30px;
}

.text-medium {
    font-size: 14px;
    line-height: 24px;
    color: #666;
}

.text-small {
    font-size: 12px;
    font-style: italic;
    line-height: 100%;
    padding-bottom: 10px;
}

.text-center {
    text-align: center;
}

