<!DOCTYPE html>
<html>
<head>
  <title>FreshAir</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link rel="stylesheet" href="/reset.css">
  <link rel="stylesheet" href="/text.css">
  <link rel="stylesheet" href="/grid.css">
  <link rel="stylesheet" href="/table.css">
</head>
<body>

<%= yield %>

</body>
</html>
